<!-- my-notes/templates/my-notes/notes_list.html -->
 
<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_notes/styles.css' %}">
    <title>Notes</title>
</head>

<body>
    <h1>Your Notes</h1>


    <!-- <ul>
        {% for note in notes %}
        <li><a href="{% url 'check' note.id %}">{{ note.title }}</a> - {{ note.created_at }} by {{ note.author }}</li>
        {% endfor %}
    </ul> -->

    <div class="notes-container">
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }} {{ note.created_at }} by {{ note.author }}</p>
                <a href="{% url 'edit' note.id %}">Edit</a>
                <form method="POST" action="{% url 'delete' note.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <nav>
        <a href="{% url 'create' %}">Create a New Note</a>
    </nav>
    <nav>
        <a href="{% url 'home' %}">Go back to Homepage</a>
    </nav>
    <!-- <footer>
        <p>&copy; 2024 MyNotes. All rights reserved.</p>
    </footer> -->
</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'my_notes/styles.css' %}">
    <title>View Notes - MyNotes</title>
</head>

<body>
    <h1>Your Notes</h1>

    <div class="notes-container">
        {% for note in notes %}
            <div class="note">
                <h2>{{ note.title }}</h2>
                <p>{{ note.content }}</p>
                <a href="{% url 'edit' note.id %}">Edit</a>
                <form method="POST" action="{% url 'delete' note.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <footer>
        <p>&copy; 2024 MyNotes. All rights reserved.</p>
    </footer>
</body>

</html> -->
